/*
Project: Well-EM
Author: well-em.in
Design and Developed by: Varun Gupta
NOTE: This file contains the custom styling.
*/

/*================================================
[  Table of contents  ]
================================================

:: General
:: Dashboard
:: Add Appointment
:: Lab Test Booking
:: Responsive

======================================
[ End table content ]
======================================*/

/*--------------------------------------------------------------------
                            General
---------------------------------------------------------------------*/
.iq-sidebar {width: 172px;}
.breadcrumb {border-radius: 20px;margin-bottom: 20px;}
.info-header {color: #3f414d;}
.user-name {text-transform: capitalize}

/*---------------------------------------------------------------------
                               Dashboard
-----------------------------------------------------------------------*/
.table .thead-light th {color: #089bab;background: #ceebee;border-color: #7ac6ce;}
// ul#dashboardTab li { background-color: #eff7f8; }
ul#dashboardTab li a { border-color: #ceebee; }
ul#dashboardTab li:first-child { border-radius: 15px 0 0 15px; border-left: none; }
ul#dashboardTab li:last-child { border-radius: 0 15px 15px 0; }
.d-modal-link {cursor: pointer;}
.d-modal-link:focus {outline: none;}
.d-modal-link:hover {color: #089bab;}

/*---------------------------------------------------------------------
                               Add Appointment
-----------------------------------------------------------------------*/
.ap-doctor-fields {background-color: #f5feffb8;padding: 15px;border-radius: 16px;}

/*---------------------------------------------------------------------
                               Lab Test Booking
-----------------------------------------------------------------------*/
.add-more-test {color: #089bab;font-size: 12px;cursor: pointer;}

/*--------------------------------------------------------------------
                            Responsive
---------------------------------------------------------------------*/
@media(min-width:1300px) {
    .content-page {margin-left: 172px;}
}